<div id="container">
    <div id="main">
        
        <% form_for(@user) do |f| %>
        <%= f.error_messages %>
        <p>
            <%= f.label :user_name %>
            <br/>
            <%= f.text_field :user_name %>
        </p>
        <p>
            <%= f.label :password %>
            <br/>
            <%= f.password_field :plnpassword %>
        </p>
        <p>
            <%= f.submit 'Create' %>
        </p>
        <% end %>
    </div>
    <div id="header" align:"left">
        <%= link_to 'Back', users_path %>
    </div>
</div>
